body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background-image: url("./images/starry-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

input {
  font-size: 1rem;
  padding: .75em 1.5em;
  background-color: rgba(255, 255, 255, 0.75);
  border: none;
  border-radius: 5px;
}

input.long {
  width: 90%;
}

.fi {
  font-size: 1rem;
  color: rgb(60, 15, 60);
  cursor: pointer;
}

p {
  padding: 1em 0;
  font-weight: bold;
  color: rgb(60, 15, 60);

  > #code {
    font-family:'Courier New', Courier, monospace;
    color: rgba(220, 220, 220, 0.85);
    padding: 0.25em;
    background-color: rgb(60, 15, 60, 0.75);
    border-radius: 0.25em;
  }
}

#balance-td {
  text-align: center;
}

#balance {
  color: rgb(60, 15, 60);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2em;
  margin-top: 2em;

  &::before {
    content: 'Balance: ';
  }

  &::after {
    content: ' ETH';
  }
}

h1 {
  font-size: 2.25rem;
  color: white;
  text-align: center;
  padding: 1em;
  text-shadow: 0 0 0.3em white;
}

.components {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  max-width: 750px;

  > div {
    display: block;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1.25em 1.25em 2em 1.25em;
    padding: 2em 3em;
    border-radius: 10px;
    box-shadow: 0 0 0.5em 1em rgba(255, 255, 255, 0.5);

    > h2 {
      color: rgb(60, 15, 60);
    }

    > table {
      width: 100%;
    }
  }
}

#transfer-amount, #error {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.7px;
  text-align: center;
  border-radius: 0.65em;
  border: none;
  padding: 0.68em 0.5em 0.5em 0.5em;
  margin-top: 1.5em;
  width: 67%;
}

#transfer-amount {
  color: white;
  background-color: #5667c9CC;
  box-shadow: 0 0 0.1em 0.1em #5667c9CC;

  &:hover {
    cursor: pointer;
  }
}

#error {
  color: red;
}